<%- include('../header.ejs') %>

<section class="section">
  <div class="section-header">
    <div>
      <h2 class="section-title">Fotos</h2>
      <div class="breadcrumb"><a href="/">Inicio</a> > <a href="/gmail">Gmail</a> > Detalles</div>
    </div>
    <div class="button-group">
      <a href="/gmail" class="button">Volver a la lista</a>
    </div>
  </div>

  <div class="breadcrumb">
    <a href="/gmail/<%= contacto.id %>">Fotos</a> - 
    <a href="/gmail/videos/<%= contacto.id %>">Videos</a> - 
    <a href="/gmail/drive_fotos/<%= contacto.id %>">Drive Fotos</a> - 
    <a href="/gmail/drive_videos/<%= contacto.id %>">Drive Videos</a>
  </div>
</section>

<style>
  .media-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 5px;
  }
  .media-item {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Mantiene un aspecto cuadrado */
    overflow: hidden;
    background-color: #f0f0f0;
    border-radius: 8px;
  }

  .media-item-video {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Mantiene un aspecto cuadrado */
    overflow: hidden;
    background-color: #f0f0f0;
    border-radius: 8px;
    border: 2px solid #ef9e60; 
  }
  .media-item-video img, .media-item-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Mantiene la relaci칩n de aspecto */
  }
  .media-item img, .media-item video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Mantiene la relaci칩n de aspecto */
  }
  .media-date {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    text-align: center;
  }
  .pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #f9f9f9;
  }
  .pagination a.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
</style>

<% if (nextPageToken) { %>
  <div class="pagination">
    <a href="/gmail/videos/<%= contacto.id %>?pageToken=<%= nextPageToken %>">Siguiente p치gina</a>
  </div>
<% } %>

<div class="media-grid">
  <% if (mediaItems && mediaItems.length > 0) {
    mediaItems.sort((a, b) => {
      const dateA = new Date(a.mediaMetadata.creationTime);
      const dateB = new Date(b.mediaMetadata.creationTime);
      return dateB - dateA;
    });

    mediaItems.forEach((mediaItem) => { %>
      <% if (mediaItem.mimeType && mediaItem.mimeType.startsWith('image/')) { %>
      <div class="media-item">
          <a href="<%= mediaItem.maxQualityUrl %>" target="_blank" download>
            <img src="<%= mediaItem.baseUrl %>" alt="Media" loading="lazy">
          </a>
        <div class="media-date">
          <%= new Intl.DateTimeFormat('es-ES', { day: '2-digit', month: '2-digit', year: 'numeric' }).format(new Date(mediaItem.mediaMetadata.creationTime)) %>
        </div>
      </div>

      <% } %>



      <% if (mediaItem.mimeType && mediaItem.mimeType.startsWith('video/')) { %>
      <div class="media-item-video">
          <a href="<%= mediaItem.downloadUrl %>" target="_blank" class="xvideo" download >
            <img src="<%= mediaItem.baseUrl %>" alt="Media" loading="lazy">
          </a>
        <div class="media-date">
          <%= new Intl.DateTimeFormat('es-ES', { day: '2-digit', month: '2-digit', year: 'numeric' }).format(new Date(mediaItem.mediaMetadata.creationTime)) %>
        </div>
      </div>
      <% } %>




    <% });
  } else { %>
    <p>No hay medios disponibles.</p>
  <% } %>
</div>

<% if (nextPageToken) { %>
  <div class="pagination">
    <a href="/gmail/videos/<%= contacto.id %>?pageToken=<%= nextPageToken %>">Siguiente p치gina</a>
  </div>
<% } %>

<div class="grid">
  <div class="card">
    <div class="list-item">
      <div><strong>ID:</strong> <%= contacto.id %></div>
      <div><strong>Nombre:</strong> <%= contacto.nombre %> <% if (contacto.registrado) { %>游릭<% } %></div>
      <div><strong>Email:</strong> <%= contacto.email %></div>
      <div><strong>Tel칠fono:</strong> <%= contacto.telefono %></div>
    </div>
  </div>
</div>

<%- include('../footer.ejs') %>
