<%- include('../header.ejs') %>

    <h1>Inversiones de la Ronda: <%= ronda.nombre %></h1>
    <ul>
        <% inversiones.forEach(inversion => { %>
            <li>
                Usuario: <%= inversion.usuarioId %> - Porcentaje: <%= inversion.porcentaje %>%
            </li>
        <% }); %>
    </ul>
    <a href="/rondas/<%= ronda.id %>">Volver a la Ronda</a>

    <%- include('../footer.ejs') %>