<%- include('../header.ejs') %>




<section id="portada" class="profile">

    <div class="profile-image">
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 70 70">
            <g transform="translate(35, 35)">
                <g transform="scale(0.034) translate(-512, -512)">
                    <path fill="currentColor" stroke="none" d="M384 960v-64h192.064v64zm448-544a350.66 350.66 0 0 1-128.32 271.424C665.344 719.04 640 763.776 640 813.504V832H320v-14.336c0-48-19.392-95.36-57.216-124.992a351.55 351.55 0 0 1-128.448-344.256c25.344-136.448 133.888-248.128 269.76-276.48A352.384 352.384 0 0 1 832 416m-544 32c0-132.288 75.904-224 192-224v-64c-154.432 0-256 122.752-256 288z"/>
                </g>
            </g>
        </svg>
    </div>
      
      
    <div class="profile-text">
        <h1>Rondas de Inversión</h1>
        <p>Listado de Rondas</p>
    </div>
    <% if (user_sesion) { %>
        <% if (user_sesion.administrador) { %>
    <a href="/rondas/crear">Crear Nueva Ronda</a>
        <% } %>
    <% } %>
</section>

<hr>

<section id="menu-proyectos">

    <ol id="filter-list" style="margin-top:-10px; list-style-type: none; padding: 0;">

        <li style="display: inline;">
            <a href="/">Proyectos</a>
            <span style="color: #6272a4; margin: 0 5px;"> > </span>
        </li>

        <li style="display: inline;">Inversión
        </li>
        
    </ol>

</section>


    <ul>
        <% rondas.forEach(ronda => { %>
            <li>
                <a href="/rondas/<%= ronda.id %>"><%= ronda.nombre %></a> - <%= ronda.porcentaje_total %>%
            </li>
        <% }); %>
    </ul>







    

    <%- include('../footer.ejs') %>