<%- include('../header.ejs') %>

<section class="bg-white relative isolate">
  <span class="h-full w-full items-center justify-center inline-flex absolute inset-0 -z-10 opacity-30
      [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]">
    <svg id="patternId" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" class="w-full
        h-full"><defs><pattern id="a-new-header02" patternunits="userSpaceOnUse" width="40" height="40"
        patterntransform="scale(12) rotate(0)"><rect x="0" y="0" width="100%" height="100%"
        fill="hsla(0,0%,100%,1)"/><path d="M15 5h10v30H15zM35-5V5H5V-5zM35 35v10H5V35zM35-15h10v30H35zM55 15v10H25V15zM15
        15v10h-30V15zM35 25h10v30H35zM-5 25H5v30H-5zM-5-15H5v30H-5z" stroke-width="0.1" class="stroke-gray-900"
        fill="none"/></pattern></defs><rect width="800%" height="800%" transform="translate(0,0)"
        fill="url(#a-new-header02)"/></svg>
  </span>
</section>
<div class="bg-white"></div>
<div>
  <div class="min-h-full lg:flex lg:justify-between">
    <div justfyitems="center" class="flex flex-column bg-white pt-12 pr-4 pb-12 pl-4 flex-1 sm:px-6 lg:px-20">
      <div class="mr-auto ml-auto flex-1 lg:max-w-md max-w-sm">
        <p class="lg:text-left lg:mt-10 sm:text-4xl mt-10 mr-0 mb-0 ml-0 text-center font-bold text-3xl">Crear una cuenta</p>
        <div class="mt-10 mr-0 mb-0 ml-0">



          <form class="flex flex-col" action="/registro/" method="POST">
         
         
            <div>
              <div class="mt-1 mr-0 mb-0 ml-0 rounded-md shadow-sm relative">
                <span class="flex absolute inset-y-0 left-0 pl-3 items-center pointer-events-none text-gray-900">
                      <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 26 26">
                        <path fill="currentColor" d="M16.563 15.9c-.159-.052-1.164-.505-.536-2.414h-.009c1.637-1.686 2.888-4.399 2.888-7.07c0-4.107-2.731-6.26-5.905-6.26c-3.176 0-5.892 2.152-5.892 6.26c0 2.682 1.244 5.406 2.891 7.088c.642 1.684-.506 2.309-.746 2.397c-3.324 1.202-7.224 3.393-7.224 5.556v.811c0 2.947 5.714 3.617 11.002 3.617c5.296 0 10.938-.67 10.938-3.617v-.811c0-2.228-3.919-4.402-7.407-5.557" />
                      </svg>
  
  
  
                </span>
  
  
  
                <input type="text" placeholder="Nombre" class="bg-stone-50 focus:ring-indigo-500 focus:border-indigo-500
                    sm:text-sm w-full h-10 block border-gray-300 border shadow-sm pt-0 pr-0 pb-0 pl-10 rounded-md" id="nombre" name="nombre" required>
              </div>
            </div>
           
           
            <div>
              <div class="mt-1 mr-0 mb-0 ml-0 rounded-md shadow-sm relative">
                <span class="flex absolute inset-y-0 left-0 pl-3 items-center pointer-events-none text-gray-900">
                  <svg class="h-5 w-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20"
                      aria-hidden><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997
                      1.884z"/><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"/></svg>
                </span>
                <input type="email" placeholder="correo@dominio.com" class="bg-stone-50 focus:ring-indigo-500 focus:border-indigo-500
                    sm:text-sm w-full h-10 block border-gray-300 border shadow-sm pt-0 pr-0 pb-0 pl-10 rounded-md"  id="email" name="email" required>
              </div>
            </div>
           
            <div>
              <div class="mt-1 mr-0 mb-0 ml-0 rounded-md shadow-sm relative">
                <span class="flex absolute inset-y-0 left-0 pl-3 items-center pointer-events-none text-gray-900">
                 
  
                      <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                        <path fill="currentColor" d="m16.556 12.906l-.455.453s-1.083 1.076-4.038-1.862s-1.872-4.014-1.872-4.014l.286-.286c.707-.702.774-1.83.157-2.654L9.374 2.86C8.61 1.84 7.135 1.705 6.26 2.575l-1.57 1.56c-.433.432-.723.99-.688 1.61c.09 1.587.808 5 4.812 8.982c4.247 4.222 8.232 4.39 9.861 4.238c.516-.048.964-.31 1.325-.67l1.42-1.412c.96-.953.69-2.588-.538-3.255l-1.91-1.039c-.806-.437-1.787-.309-2.417.317" />
                      </svg>
  
  
  
                </span>
                <input type="tel" placeholder="Teléfono" class="bg-stone-50 focus:ring-indigo-500 focus:border-indigo-500
                    sm:text-sm w-full h-10 block border-gray-300 border shadow-sm pt-0 pr-0 pb-0 pl-10 rounded-md"  id="telefono" name="telefono" required>
              </div>
            </div>
         

          <div>
            <div class="mt-1 mr-0 mb-0 ml-0 rounded-md shadow-sm relative">
              <span class="flex absolute inset-y-0 left-0 pl-3 items-center pointer-events-none text-gray-900">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M12 17a2 2 0 0 0 2-2a2 2 0 0 0-2-2a2 2 0 0 0-2 2a2 2 0 0 0 2 2m6-9a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V10a2 2 0 0 1 2-2h1V6a5 5 0 0 1 5-5a5 5 0 0 1 5 5v2zm-6-5a3 3 0 0 0-3 3v2h6V6a3 3 0 0 0-3-3" />
                </svg>
              </span>
              <input type="password" placeholder="Contraseña" class="bg-stone-50 focus:ring-indigo-500 focus:border-indigo-500
                  sm:text-sm w-full h-10 block border-gray-300 border shadow-sm pt-0 pr-0 pb-0 pl-10 rounded-md"  id="contrasena" name="contrasena" required>
            </div>
          </div>
            
          
          
          
          <button fontfamily="Arial" class="w-full pt-3 pr-4 pb-3 pl-4 mt-5 mr-0 mb-0 ml-0 text-center text-base text-gray-200 rounded-xl bg-gray-900" type="submit">Acceder</button>
              </form>




        </div>





        <div>
          <div class="justify-center items-center my-4 flex gap-2.5">
            <div class="w-full h-0 border-t border-gray-500"></div>
            <span class="text-gray-500 text-lg tracking-tight flex-shrink-0">¿Ya estás registrado?</span>
            <div class="w-full h-0 border-t border-gray-500"></div>
          </div>
          <a href="/acceso">
              <button fontfamily="Arial" type="submit" class="flex gap-2 p-2.5 border border-gray-200 hover:bg-gray-100
                items-center justify-center font-semibold w-full rounded-lg bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path fill="currentColor" d="M12 21v-2h7V5h-7V3h7q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm-2-4l-1.375-1.45l2.55-2.55H3v-2h8.175l-2.55-2.55L10 7l5 5z" />
                </svg>
              <span>Tengo un usuario</span>
            </button></a>

        </div>



        
      </div>


      
    </div>
    <div class="grid bg-gray-900 w-full overflow-hidden pt-12 pr-4 pb-12 pl-4 sm:px-6 lg:px-20 flex-1 max-w-2xl relative
        place-items-center">
      <div class="mr-auto ml-auto max-w-sm relative lg:mb-14 xl:mb-5">
        <p class="mt-14 mr-0 mb-0 ml-0 text-2xl text-gray-100 leading-relaxed font-medium lg:text-3xl">"Me consta la experiencia y conocimiento que tienen los abogados de ARMIS en el tema de la copropiedad."</p>
        <div class="flex items-center mt-12 mr-0 mb-0 ml-0">
          <img
              src="/static/imagenes/personas/anibal.jpg" class="object-cover rounded-full w-11 h-11"/>
          <div class="mt-0 mr-0 mb-0 ml-3">
            <p class="text-lg font-bold text-gray-100">Anibal Ahumada</p>
            <p class="text-gray-100 font-light text-sm mt-px mr-0 mb-0 ml-0">Conductor / Hablemos de Copropiedad</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('../footer.ejs') %>



















<%- include('../header.ejs') %>

<section class="bg-white">
<div class="mx-auto bg-white items-center flex">
  <div class="w-full lg:flex-row flex gap-8 flex-col">
    <div class="px-8 py-8 lg:py-1 lg:w-1/3 items-start justify-center 6w-full flex flex-col flex-shrink-0">
      <div class="items-center mb-8 flex"></div>
      <div class="w-full">
        <p class="text-3xl font-bold mb-3">Crear una cuenta</p>
        <p class="mb-10 text-lg text-gray-500">Ingresa a nuestra plataforma</p>
        <div class="mb-3.5">
         
          <form action="/registro" method="POST">
            <input type="hidden" name="afiliado" value="<%= req.cookies.userData || '' %>" />
         
         
          <input type="text" placeholder="Nombre" class="p-3 border border-gray-200 focus:ring-1 focus:ring-gray-600
              focus:outline-none placeholder:text-black w-full bg-white rounded-lg"/ required>
        </div>
        <div class="mb-3.5">
          <input type="email" placeholder="Correo Electrónico" class="p-3 border border-gray-200 focus:ring-1
              focus:ring-gray-600 focus:outline-none placeholder:text-black w-full bg-white rounded-lg"/ required>
        </div>
        <div class="mb-3.5">
          <input type="phone" placeholder="Teléfono" class="p-3 border border-gray-200 focus:ring-1 focus:ring-gray-600
              focus:outline-none placeholder:text-black w-full bg-white rounded-lg"/ required>
        </div>
        <div class="mb-12">
          <input type="password" placeholder="Contraseña" class="p-3 border border-gray-200 focus:ring-1
              focus:ring-gray-600 focus:outline-none placeholder:text-black w-full rounded-lg"/ required>
        </div>
        <button fontfamily="Arial" type="submit" class="p-4 w-full bg-amber-500 rounded-lg mb-3
            font-semibold">Crear una cuenta</button>

          </form>


        <p class="text-center text-gray-500 pb-10">
          <span>¿Ya tienes una cuenta?,</span>
          <a href="/acceso/" class="underline font-semibold">Accede</a>



        </p>
      </div>
    </div>
    <div class="w-full pt-10 lg:w-2/3 text-white relative">
      <div class="w-full h-full bg-black rounded-tl-[3rem] lg:min-h-none relative isolate min-h-[500px]">
        <span class="h-full w-full items-center justify-center rounded-br-[3rem] inline-flex absolute inset-0 -z-10
            opacity-40 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]">
          <svg id="patternId" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" class="w-full
              h-full"><defs><pattern id="b-streaming-template" patternunits="userSpaceOnUse" width="40" height="40"
              patterntransform="scale(12) rotate(0)"><rect x="0" y="0" width="100%" height="100%"/><path d="M15
              5h10v30H15zM35-5V5H5V-5zM35 35v10H5V35zM35-15h10v30H35zM55 15v10H25V15zM15 15v10h-30V15zM35
              25h10v30H35zM-5 25H5v30H-5zM-5-15H5v30H-5z" stroke-width="0.1" class="stroke-white"
              fill="none"/></pattern></defs><rect width="800%" height="800%" transform="translate(0,0)"
              fill="url(#b-streaming-template)"/></svg>
        </span>
        <div class="px-10 pb-10 mx-auto rounded-br-[3rem] absolute bottom-0 left-0 right-0 m-4">
          <div>
            <div class="blockquote">
              <svg class="w-10 h-10" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                  id="Windframe_q5K92bBp54r"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.62231 6.78278C10.0546
                  6.43909 10.1265 5.81001 9.78277 5.3777C9.43908 4.94539 8.81001 4.87354 8.37769 5.21724C4.73471 8.11342
                  4 11.8784 4 16C4 17.6569 5.34315 19 7 19C8.65685 19 10 17.6569 10 16C10 14.3432 8.65685 13 7
                  13C6.71233 13 6.43412 13.0405 6.17076 13.1161C6.5162 10.5872 7.45738 8.50391 9.62231 6.78278ZM20 16C20
                  17.6569 18.6569 19 17 19C15.3431 19 14 17.6569 14 16C14 11.8784 14.7347 8.11342 18.3777 5.21724C18.81
                  4.87354 19.4391 4.94539 19.7828 5.3777C20.1265 5.81001 20.0546 6.43909 19.6223 6.78278C17.4574 8.50391
                  16.5162 10.5872 16.1708 13.1161C16.4341 13.0405 16.7123 13 17 13C18.6569 13 20 14.3432 20 16Z"
                  fill="currentColor"/></svg>
              <p class="text-3xl font-bold tracking-tight w-full lg:w-10/12">El equipo de Armis ha demostrado ser muy
                  profesional y experto en materias de copropiedad inmobiliaria."</p>
              <p class="font-bold text-left mt-6">Miguel Madrid</p>
              <p class="text-left">Cofundador - Zelkova</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</section>



<%- include('../footer.ejs') %>




