<%- include('../header.ejs') %>

<section id="portada" class="profile">
    <div class="profile-text">
        <h1><%= proyecto ? 'Editar Proyecto' : 'Nuevo Proyecto' %></h1>
        <p>Ingrese los datos del proyecto</p>
    </div>
</section>

<ol style="list-style-type: none; padding: 0;">
    <li style="display: inline;">
        <a href="/" style="color: #8be9fd; text-decoration: none;">Portada</a>
        <span style="color: #6272a4; margin: 0 5px;"> > </span>
    </li>
    <li style="display: inline;">
        <a href="/proyectos" style="color: #8be9fd; text-decoration: none;">Proyectos</a>
        <span style="color: #6272a4; margin: 0 5px;"> > </span>
    </li>
    <li style="display: inline; color: #f8f8f2;" aria-current="page"><%= proyecto ? 'Editar' : 'Nuevo' %></li>
</ol>

<section id="formulario-proyecto">
    <form action="<%= proyecto ? '/proyectos/' + proyecto.id : '/proyectos' %>" method="POST">
        <% if (proyecto) { %>
            <input type="hidden" name="_method" value="PUT">
        <% } %>
        
        <h3>Datos Básicos (Obligatorios)</h3>
        <label for="nombre">Nombre:</label>
        <input class="mb3" type="text" id="nombre" name="nombre" value="" required>

        <label for="nombre">Subtitulo:</label>
        <input class="mb3" type="text" id="subtitulo" name="subtitulo" value="" required>
        
        <label for="descripcion">Descripción:</label>
        <textarea class="mb3" id="descripcion" name="descripcion" required></textarea>
        
        <label for="estado">Estado:</label>
        <select class="mb3" id="estado" name="estado" required>
            <option value="activo">Activo</option>
            <option value="desarrollo">En Desarrollo</option>
            <option value="secreto">Secreto</option>
        </select>
        
        <label for="porcentaje_legal">Porcentaje Legal:</label>
        <input class="mb3" type="number" id="porcentaje_legal" name="porcentaje_legal" value="" required>

        <label for="porcentaje_diseno">Porcentaje Diseño:</label>
        <input class="mb3" type="number" id="porcentaje_diseno" name="porcentaje_diseno" value="" required>

        <label for="porcentaje_codigo">Porcentaje Codigo:</label>
        <input class="mb3" type="number" id="porcentaje_codigo" name="porcentaje_codigo" value="" required>

        
        <h3>Datos Adicionales (Opcionales)</h3>
        <label for="sociedad">Sociedad:</label>
        <input class="mb3" type="text" id="sociedad" name="sociedad" value="">
        
        <label for="nombreFantasia">Nombre de Fantasía:</label>
        <input class="mb3" type="text" id="nombreFantasia" name="nombreFantasia" value="">
        
        <label for="rut">RUT:</label>
        <input class="mb3" type="text" id="rut" name="rut" value="">
        
        <label for="domicilio">Domicilio:</label>
        <input class="mb3" type="text" id="domicilio" name="domicilio" value="">
        
        <label for="ceo">CEO:</label>
        <input class="mb3" type="text" id="ceo" name="ceo" value="">
        
        <h3>Información Bancaria (Opcional)</h3>
        <label for="bancoNombre">Nombre del Banco:</label>
        <input class="mb3" type="text" id="bancoNombre" name="bancoNombre" value="">
        
        <label for="bancoTipoCuenta">Tipo de Cuenta:</label>
        <input class="mb3" type="text" id="bancoTipoCuenta" name="bancoTipoCuenta" value="">
        
        <label for="bancoNumeroCuenta">Número de Cuenta:</label>
        <input class="mb3" type="text" id="bancoNumeroCuenta" name="bancoNumeroCuenta" value="">
        
        <button type="submit"><%= proyecto ? 'Actualizar' : 'Crear' %> Proyecto</button>
    </form>
</section>

<%- include('../footer.ejs') %>