<%- include('../header.ejs') %>

<section id="portada" class="profile" style="position: relative;">
    <img 
    src="<%= proyecto.foto_perfil_url ? ('/archivos/' + proyecto.foto_perfil_url) : '/static/imagenes/no.png' %>" 
    alt="<%= proyecto.nombre %>" 
    class="profile-image">
    <div class="profile-text">
        <h1><%= proyecto.nombre %></h1>
        <p><%= proyecto.subtitulo %></p>
    </div>
    <a href="/proyectos/editar/<%= proyecto.id %>" style="position: absolute; top: 10px; right: 10px;">Editar</a>
</section>



<section id="menu-proyectos">
<ol style="list-style-type: none; padding: 0;">
    <li style="display: inline;">
        <a href="/" style="color: #8be9fd; text-decoration: none;">Portada</a>
        <span style="color: #6272a4; margin: 0 5px;"> > </span>
    </li>
    <li style="display: inline;">
        <a href="/proyectos" style="color: #8be9fd; text-decoration: none;">Proyectos</a>
        <span style="color: #6272a4; margin: 0 5px;"> > </span>
    </li>
    <li style="display: inline; color: #f8f8f2;" aria-current="page"><%= proyecto.nombre %></li>
</ol>
</section>

<section id="descripcion">
    <h2>Descripción</h2>
    <p><%= proyecto.descripcion %></p>
</section>

<section id="datos-empresa">
    <h2>Información de la Empresa</h2>
    <table>
        <tr>
            <th>Dato</th>
            <th>Valor</th>
        </tr>
        <tr>
            <td>Sociedad</td>
            <td><%= proyecto.sociedad %></td>
        </tr>
        <tr>
            <td>Nombre de Fantasía</td>
            <td><%= proyecto.nombre_fantasia %></td>
        </tr>
        <tr>
            <td>RUT</td>
            <td><%= proyecto.rut %></td>
        </tr>
        <tr>
            <td>Domicilio</td>
            <td><%= proyecto.domicilio %></td>
        </tr>
        <tr>
            <td>CEO</td>
            <td><%= proyecto.ceo %></td>
        </tr>
    </table>
</section>

<section id="socios">
    <h2>Socios</h2>
    <% if (proyecto.socios && proyecto.socios.length > 0) { %>
        <table id="tablaSocios">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>RUT</th>
                    <th>Porcentaje</th>
                </tr>
            </thead>
            <tbody>
                <% proyecto.socios.forEach(function(socio) { %>
                    <tr data-id="<%= socio.id %>">
                        <td>
                            <span class="socio-nombre"><%= socio.nombre %></span>
                            <input class="socio-nombre-edit" type="text" value="<%= socio.nombre %>" style="display:none;">
                        </td>
                        <td>
                            <span class="socio-rut"><%= socio.rut %></span>
                            <input class="socio-rut-edit" type="text" value="<%= socio.rut %>" style="display:none;">
                        </td>
                        <td>
                            <span class="socio-porcentaje"><%= socio.porcentaje %>%</span>
                            <input class="socio-porcentaje-edit" type="number" value="<%= socio.porcentaje %>" style="display:none;">
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>No hay socios registrados en este proyecto.</p>
    <% } %>
</section>







<section id="enlaces-proyecto">
    <h2>Enlaces del Proyecto</h2>
    <div id="enlaces-container">
        <% if (enlaces && enlaces.length > 0) { %>
            <table id="tablaEnlaces">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    <% enlaces.forEach(function(enlace) { %>
                        <tr data-id="<%= enlace.id %>">
                            <td>
                                <span class="enlace-nombre"><%= enlace.nombre %></span>
                                <input class="enlace-nombre-edit" type="text" value="<%= enlace.nombre %>" style="display:none;">
                            </td>
                            <td>
                                <span class="enlace-url"><%= enlace.url %></span>
                                <input class="enlace-url-edit" type="text" value="<%= enlace.url %>" style="display:none;">
                            </td>
                        </tr>
                    <% }); %>

                </tbody>
            </table>
        <% } else { %>
            <p>No hay enlaces asociados a este proyecto.</p>
        <% } %>
    </div>
</section>






<% if (proyecto.cuentas_bancarias && proyecto.cuentas_bancarias.length > 0) { %>
    <section id="datos-bancarios">
        <h2>Cuentas Bancarias</h2>
        <% proyecto.cuentas_bancarias.forEach((cuenta, index) => { %>
            <h3>Cuenta <%= index + 1 %></h3>
            <table>
                <tr>
                    <th>Dato</th>
                    <th>Valor</th>
                </tr>
                <tr>
                    <td>Nombre</td>
                    <td><%= proyecto.sociedad %></td>
                </tr>
                <tr>
                    <td>RUT</td>
                    <td><%= proyecto.rut %></td>
                </tr>
                <tr>
                    <td>Banco</td>
                    <td><%= cuenta.nombre %></td>
                </tr>
                <tr>
                    <td>Tipo de Cuenta</td>
                    <td><%= cuenta.tipo_cuenta %></td>
                </tr>
                <tr>
                    <td>Número de Cuenta</td>
                    <td><%= cuenta.numero_cuenta %></td>
                </tr>
            </table>
        <% }); %>
    </section>
<% } %>




<%- include('../footer.ejs') %>